// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Montserrat:wght@400;700&display=swap");

.cocktail {
    margin: 4rem;
    &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    &__title {
        font-family: "Pacifico", cursive;
        font-size: 38px;
        font-weight: normal;
        background: linear-gradient(135deg, #fff5cf, #18a0fb);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        line-height: 1;
      }
    &__image {
        max-width: 350px;
        height: 420px;
        border-radius: 12px;
    }
  }

  