.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.search-wrapper {
  text-align: center;
}

.search-icon {
  font-size: 48px;
  margin-bottom: 16px;
  display: block;
}

/* Label styling */
.search-label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
}

.search-input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
